<div th:insert="menu">

</div>




USER PROFIL

Par table
<table th:each="contact: ${listContact}">
	<tr>
	              <th>Name</th>
				  <th>email</th>
	              <th>iban</th>
	 </tr>
	<tr>
        <td>[[${contact.name}]]</td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.iban}"></td>
    </tr>
</table>

<div>
	<form th:action="@{/addContact}" method="post">
		<label>Nom contact</label><input th:name="name">
		<input type="submit" th:value="Add">
	</form>
</div>